<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head (title)">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
          charset="utf-8"/>
    <title th:text="${title}"></title>
</head>

<body>
<header>
    <nav>
        <div class="nav-wrapper teal darken-2">
            <a th:href="@{/}" class="brand-logo" style="font-size:1.5em;padding-left:1em">
                计算机基础知识竞赛
            </a>
            <a data-activates="mobile-demo" class="button-collapse">
                <i class="fa fa fa-bars"
                   style="position:relative;margin-left:10px"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/exam}" sec:authorize="hasRole('USER')">试题</a></li>
                <li><a th:href="@{/rule}">比赛规则</a></li>
                <li><a th:href="@{/faq}">FAQ</a></li>
                <li><a th:href="@{/manage}" sec:authorize="hasRole('ADMIN')">后台管理</a></li>
                <li><a th:href="@{/profile}" sec:authorize="authenticated">个人中心</a></li>
                <li><a onclick="document.getElementById('logout').submit();" sec:authorize="authenticated">登出</a></li>
                <li><a th:href="@{/login}" sec:authorize="!authenticated">登录</a></li>
                <li><a th:href="@{/register}" sec:authorize="!authenticated">注册</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a th:href="@{/exam}" sec:authorize="hasRole('USER')">试题</a></li>
                <li><a th:href="@{/rule}">比赛规则</a></li>
                <li><a th:href="@{/faq}">FAQ</a></li>
                <li><a th:href="@{/manage}" sec:authorize="hasRole('ADMIN')">后台管理</a></li>
                <li><a th:href="@{/profile}" sec:authorize="authenticated">个人中心</a></li>
                <li><a onclick="document.getElementById('logout').submit();" sec:authorize="authenticated">登出</a></li>
                <li><a th:href="@{/login}" sec:authorize="!authenticated">登录</a></li>
                <li><a th:href="@{/register}" sec:authorize="!authenticated">注册</a></li>
            </ul>
        </div>
    </nav>
    <form th:action="@{/logout}" method="post" id="logout">

    </form>
</header>

<footer>
    <script type="text/javascript" th:src="@{/js/jquery2.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>
</footer>
</body>

</html>