<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: head(title = '后台管理')">
</head>
<body>
<header th:replace="fragment :: header"></header>
<main>
    <div class="row" style="margin-top: 15px">
        <h5 th:if="${param.error != null}">上传失败了喵, 有啥问题我也不知道喵</h5>
        <div class="col s12 m6 container">
            <form method="post" th:action="@{/importFile}" enctype="multipart/form-data">
                <a th:href="@{/template.xlsx}">下载模板</a>
                <input type="file" name="file" class="file-path validate"/>
                <br/><br/>
                <input type="submit" name="submit"/>
            </form>
            <!--/*@thymesVar id="question" type="com.nuptsast.model.Question"*/-->
            <form method="post" th:object="${question}" th:action="@{/import}" id="submitQuestion">
                <div class="row" id="addQue">
                    <div class="input-field col s12">
                        <select id="department">
                            <option value="计算机部">计算机部</option>
                            <option value="网络部">网络部</option>
                            <option value="电子部">电子部</option>
                        </select>
                        <label for="department">Choose your option</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"
                        ></textarea>
                        <label for="textarea1">题目内容</label>
                    </div>
                </div>
                <button type="button" class="waves-effect waves-light btn" id="addChoice">添加选项</button>
                <button type="submit" class="waves-effect waves-light btn" id="submitQue">提交</button>
            </form>
        </div>
        <div class="col s12 m4">
            <form th:action="@{/search}" method="post">
                <input placeholder="Search" id="first_name" name="question" type="text" class="validate"/>
                <div class="col s12 m2">
                    <button class="waves-effect waves-light btn" type="submit">Search</button>
                </div>
            </form>
            <form th:action="@{/delete}" method="post">
                <table>
                    <thead>
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="name">Content</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="questions" type="java.util.List<com.nuptsast.model.Question>"*/-->
                    <tr th:each="question : ${questions}">
                        <td th:text="${question.id}"></td>
                        <td th:text="${question.question}"></td>
                        <th th:each="choice : ${question.choices}" th:text="${choice.choice}"></th>
                        <td>
                            <button class="waves-effect waves-light btn" type="submit"
                                    name="id" th:value="${question.id}">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>


    </div>
</main>
<footer th:replace="fragment :: footer"></footer>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/manage.js}"></script>
</body>
</html>